body {
	--ltr-icons: .lucide-check, .lucide-help-circle, .sidebar-left, .sidebar-right;
}

.iconic-icon > .iconic-emoji {
	display: inline-flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	overflow: clip;
	overflow-clip-margin: 5px;
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: calc(var(--icon-size) * 0.9);
}

/* RGB converter */
.iconic-rgb-converter {
	display: none;
}

/* Window controls */
.titlebar-button.iconic-icon {
	padding: 0 13px;
}

/* Right sidebar toggle */
.sidebar-toggle-button.mod-right .clickable-icon.iconic-icon:not(:has(.sidebar-toggle-button-icon)) {
	transform: unset;
}

/* Tabs */
.iconic-markdown-tab-icons .workspace .mod-root .workspace-tab-header[data-type="markdown"] .workspace-tab-header-inner-icon,
.workspace .mod-root .workspace-tab-header[data-type="empty"] .workspace-tab-header-inner-icon {
	display: flex;
}
.workspace .mod-stacked .iconic-emoji {
	transform: rotate(-90deg);
}
.iconic-bigger-icons .mod-root .workspace-tab-header-inner-icon.iconic-icon > * {
	--icon-size: var(--icon-s);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-clickable-icons .mod-root .workspace-tab-header-inner-icon.iconic-icon:hover {
	cursor: var(--cursor-link);
	filter: contrast(200%);
}

/* List items */
.tree-item-self > .iconic-icon > .iconic-emoji {
	--icon-size: var(--icon-xs);
}
.tree-item-self > .tree-item-icon.collapse-icon.iconic-icon > .svg-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	stroke-width: var(--icon-stroke);
	color: unset;
	transform: unset;
}
.mod-rtl .tree-item-self > .tree-item-icon.collapse-icon.iconic-icon > .svg-icon:not(var(--ltr-icons)) {
	transform: scale(-1, 1);
}
.tree-item-self > .iconic-sidekick {
	display: flex;
	align-self: center;
	width: var(--size-4-4);
	margin-inline-end: var(--size-4-1);
	opacity: var(--icon-opacity);
	--icon-size: var(--icon-xs);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-bigger-icons .tree-item-self > .iconic-icon > .svg-icon {
	--icon-size: var(--icon-s);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-bigger-icons .tree-item-self > .iconic-icon > .iconic-emoji {
	--icon-size: var(--icon-s);
}
.iconic-bigger-icons .iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 1.5px;
}
.is-mobile .iconic-bigger-icons .tree-item.iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 3px;
}
.iconic-clickable-icons .tree-item-self > .iconic-icon:hover {
	cursor: var(--cursor-link);
	filter: contrast(200%);
}

/* Tags */
a.tag {
	--icon-size: var(--icon-xs);
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	gap: var(--size-4-1);
}
.multi-select-pill > .iconic-icon {
	display: flex;
	margin-inline-start: var(--size-4-2);
	margin-inline-end: var(--size-4-1);
}
.multi-select-pill > .iconic-icon + .multi-select-pill-content {
	margin-inline-start: 0;
}
.cm-hashtag-begin > .iconic-icon {
	--icon-size: var(--icon-xs);
	display: inline-block;
	margin-inline-end: var(--size-4-1);
	transform: translateY(1.5px);
}
.iconic-clickable-icons .tag > .iconic-icon:hover,
.iconic-clickable-icons .multi-select-pill > .iconic-icon:hover,
.iconic-clickable-icons .cm-hashtag-begin > .iconic-icon:hover {
	cursor: var(--cursor-link);
	filter: contrast(200%);
}

/* Editor title */
.iconic-title-wrapper {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 0.3em;
	font-size: var(--inline-title-size); /* Allow gap size to scale naturally */
}
.show-inline-title .iconic-title-wrapper {
	display: flex;
}
.iconic-title-wrapper > .iconic-icon {
	--icon-size: 1.25em;
	margin-block-end: var(--inline-title-margin-bottom);
	line-height: 0;
}
.iconic-clickable-icons .iconic-title-wrapper > .iconic-icon:hover {
	cursor: var(--cursor-link);
	filter: contrast(200%);
}
.is-mobile .iconic-title-wrapper > .iconic-icon {
	padding-top: 0.25em;
}
.iconic-title-wrapper > .inline-title {
	font-size: inherit;
}

/* Editor properties */
.iconic-clickable-icons .metadata-property-icon.iconic-icon:hover {
	cursor: var(--cursor-link);
	filter: contrast(200%);
}

/* Ribbon */
.side-dock-ribbon-action.iconic-icon > .iconic-emoji {
	--icon-size: var(--icon-l);
}
.mobile-option-setting-item-option-icon.iconic-icon {
	cursor: var(--cursor-link);
}

/* Suggestions */
.suggestion-item.mod-complex.iconic-item {
	padding: var(--size-2-3) var(--size-4-2) var(--size-2-3) var(--size-4-1);
	justify-content: normal;
}

/* Suggestion dialogs */
.iconic-prompt .iconic-icon {
	height: var(--icon-size);
}
.iconic-prompt > .prompt-input-container > .prompt-input {
	padding-inline-start: calc(var(--icon-size) + var(--size-4-8));
}
.iconic-prompt .suggestion-item {
	align-items: center;
}
.iconic-prompt .suggestion-content {
	padding-inline-start: calc(var(--icon-size) + var(--size-4-2));
}
.iconic-prompt .iconic-icon + .suggestion-content {
	padding-inline-start: var(--size-4-2);
}

/* Another Quick Switcher */
.iconic-another-quick-switcher .iconic-icon {
	height: var(--icon-size);
}
.iconic-another-quick-switcher .another-quick-switcher__item {
	flex-direction: row;
	padding-inline-start: var(--size-4-5);
}
.iconic-another-quick-switcher .another-quick-switcher__starred_item,
.iconic-another-quick-switcher .another-quick-switcher__phantom_item {
	padding-inline-start: var(--size-4-3);
}
.iconic-another-quick-switcher .another-quick-switcher__item > .another-quick-switcher__item__entry {
	padding-inline-start: calc(var(--icon-size) + var(--size-4-2));
}
.iconic-another-quick-switcher .another-quick-switcher__item > .iconic-icon + .another-quick-switcher__item__entry {
	padding-inline-start: var(--size-4-2);
}
.iconic-another-quick-switcher .another-quick-switcher__starred_item > .another-quick-switcher__item__entry,
.iconic-another-quick-switcher .another-quick-switcher__phantom_item > .another-quick-switcher__item__entry {
	padding-inline-start: calc(var(--icon-size) + var(--size-4-2));
}
.iconic-another-quick-switcher .another-quick-switcher__item::before {
	margin-left: -1rem;
	margin-right: var(--size-4-2);
}

/* Icon picker */
.is-mobile .mod-confirmation > .modal.iconic-icon-picker {
	background-color: var(--modal-background);
}
.iconic-icon-picker .callout + .setting-item {
	border-top: none;
}
.iconic-icon-picker .setting-item-control input[type="color"] {
	height: auto;
	width: auto;
}
.iconic-icon-picker .setting-item-control input[type="text"] {
	width: 100%;
}
.iconic-icon-picker .setting-item-control .search-input-container {
	width: 100%;
}
.iconic-icon-picker .extra-setting-button:focus-visible {
	box-shadow: none;
	opacity: var(--icon-opacity-hover);
	color: var(--icon-color-hover);
	background-color: var(--background-modifier-hover);
}
.theme-dark .iconic-icon-picker .iconic-mode-selected {
	color: var(--interactive-accent-hover);
}
.theme-light .iconic-icon-picker .iconic-mode-selected {
	color: var(--interactive-accent);
}
.is-mobile .iconic-button-row {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-3);
}
.is-phone .iconic-button-row > button {
	width: 100%;
}
.is-tablet .iconic-button-row > button:not(.mod-destructive) {
	margin-inline-start: auto;
}

/* Search results container */
.iconic-search-results {
	overflow-x: scroll;
}
.iconic-search-results > .setting-item-info {
	display: none;
}
.iconic-search-results > .setting-item-control {
	justify-content: center;
}
.iconic-search-results:focus-visible {
	box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}
.is-phone .iconic-search-results {
	flex-direction: row !important;
}
.is-phone .iconic-search-results > .setting-item-control {
	width: auto !important;
}

/* Search result */
.iconic-search-result > * {
	height: var(--icon-size);
	--icon-size: calc(var(--icon-l) * 1.25);
	--icon-stroke: calc(var(--icon-l-stroke-width) * 6/7);
}
.iconic-bigger-search-results .iconic-search-result > * {
	--icon-size: var(--icon-xl);
	--icon-stroke: var(--icon-xl-stroke-width);
}
.is-mobile .iconic-search-result > * {
	--icon-size: var(--icon-l);
	--icon-stroke: var(--icon-l-stroke-width);
}
.is-mobile.iconic-bigger-search-results .iconic-search-result > * {
	--icon-size: var(--icon-xl);
	--icon-stroke: var(--icon-l-stroke-width);
}

/* Rule picker */
.is-mobile .mod-confirmation > .modal.iconic-rule-picker {
	background-color: var(--modal-background);
}
.iconic-rule,
.iconic-condition {
	transition: background-color 0.25s ease, border-top-color 0.25s ease, border-radius 0.25s ease, box-shadow 0.25s ease;
}
.iconic-rule.has-active-menu {
	background-color: var(--background-modifier-hover);
	border-top-color: transparent;
	border-radius: var(--radius-s);
	box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
	transition: none;
}
.iconic-rule.has-active-menu + .setting-item {
	border-top-color: transparent;
	border-top-left-radius: var(--radius-s);
	border-top-right-radius: var(--radius-s);
}
.iconic-rule > .iconic-rule-icon {
	padding: var(--size-2-2);
	margin-inline-end: var(--size-4-2);
}
.iconic-rule > .setting-item-info > .iconic-rule-name {
	width: fit-content;
	min-width: var(--size-4-4);
	overflow-wrap: anywhere;
}
.iconic-rule > .setting-item-info > .iconic-rule-name:hover,
.iconic-rule > .setting-item-info > .iconic-rule-name[contenteditable="true"] {
	border: var(--input-border-width) solid var(--background-modifier-border);
	border-radius: var(--input-radius);
	margin: calc(-1 * var(--size-4-1) - var(--input-border-width)) calc(-1 * var(--size-4-2) - var(--input-border-width));
	padding: var(--size-4-1) var(--size-4-2);
	background: var(--background-modifier-form-field);
	color: var(--text-normal);
}
.iconic-drag-handle:hover {
	cursor: grab;
}
.iconic-drag-handle:active {
	cursor: grabbing;
}
.iconic-add {
	transition: border-top-color 0.25s ease;
}
.iconic-add > .setting-item-control {
	justify-content: flex-start;
}
.drag-reorder-ghost .iconic-rule,
.drag-reorder-ghost .iconic-condition {
	padding: 0.75em 0;
}
.mod-rtl .drag-reorder-ghost .iconic-rule,
.mod-rtl .drag-reorder-ghost .iconic-condition {
	direction: rtl;
}
.iconic-rule.drag-ghost-hidden,
.iconic-condition.drag-ghost-hidden {
	border-top-color: transparent;
}
.iconic-rule.drag-ghost-hidden + .setting-item,
.iconic-condition.drag-ghost-hidden + .setting-item {
	border-top-color: transparent;
}

/* Rule editor */
.is-mobile .mod-confirmation > .modal.iconic-rule-editor {
	background-color: var(--modal-background);
}
.iconic-rule-editor .setting-item:first-child input[type="text"] {
	width: 100%;
}
.setting-item-control > .iconic-button-selected {
	color: var(--text-on-accent);
	background-color: var(--interactive-accent);
}
.iconic-condition input[type="time"] {
	border: var(--input-border-width) solid var(--background-modifier-border);
	border-radius: var(--input-radius);
	padding: var(--size-4-1) var(--size-4-2);
	background: var(--background-modifier-form-field);
	color: var(--text-normal);
	font-size: var(--font-ui-small);
	font-family: inherit;
}
.iconic-condition > .setting-item-control > select.dropdown {
	width: 0;
	flex: 1 1 fit-content;
	height: var(--input-height);
}
.iconic-condition > .setting-item-control > input {
	width: 0;
	flex: 1 1 fit-content;
}
.iconic-condition .iconic-control-column > input {
	height: var(--input-height);
}
.iconic-condition .iconic-control-column {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-2);
	width: 100%;
}
.iconic-condition .iconic-dropdown-row {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-2);
	width: 100%;
}
.is-phone .iconic-condition input {
	text-align: center;
}

/* Rule checker */
.is-mobile .mod-confirmation > .modal.iconic-rule-checker {
	background-color: var(--modal-background);
}
.iconic-matches {
	padding-top: 0.75em;
	border-top: 1px solid var(--background-modifier-border);
	margin: 0;
}
.iconic-match {
	padding: var(--size-4-1);
	white-space: nowrap;
}
.iconic-highlight-tree .iconic-match-tree,
.iconic-highlight-name .iconic-match-name,
.iconic-highlight-extension .iconic-match-extension {
	color: var(--text-accent);
}

/* Indicators */
.iconic-indicator {
	pointer-events: none;
}

/* Invisibility */
.iconic-invisible {
	visibility: hidden;
}
.is-phone .iconic-reset-color.iconic-invisible {
	display: none;
}

/* Colorless settings */
.iconic-uncolor-hover .workspace-tab-header:hover .iconic-icon > .svg-icon,
.iconic-uncolor-hover .tree-item-self:hover > .tree-item-icon.iconic-icon > .svg-icon,
.iconic-uncolor-hover .side-dock-ribbon-action.iconic-icon:hover > .svg-icon,
.iconic-uncolor-hover .iconic-search-result:hover > .svg-icon {
	color: currentColor !important;
}
.iconic-uncolor-drag > .drag-ghost .svg-icon {
	color: currentColor !important;
}
.iconic-uncolor-select .workspace-tab-header.is-active .iconic-icon > .svg-icon,
.iconic-uncolor-select .tree-item-self.is-active > .tree-item-icon.iconic-icon > .svg-icon {
	color: currentColor !important;
}

/* Theme: Blue Topaz */
.iconic-theme-btopaz .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon:not(.collapse-icon) {
	margin-inline-start: 0;
}
.iconic-theme-btopaz .workspace-leaf-content[data-type="file-explorer"] .nav-file-title-content {
	margin-inline-start: var(--size-4-5);
}
.iconic-theme-btopaz .workspace-leaf-content[data-type="file-explorer"] .nav-file-title .nav-file-title-content:not(.mk-tree-text)::before {
	display: none;
}
.iconic-theme-btopaz .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title:has(.collapse-icon.iconic-icon) > .collapse-icon::before {
	display: none;
}
.iconic-theme-btopaz .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title:has(.collapse-icon.iconic-icon) > .collapse-icon > svg {
	display: flex;
}

/* Theme: Catppuccin */
.iconic-theme-cat .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title-content::before {
	display: none;
}

/* Theme: Cyber Glow */
.iconic-theme-cglow .workspace-leaf-content[data-type="file-explorer"] .tree-item-self > .tree-item-inner::before {
	display: none;
}
.iconic-theme-cglow .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon.collapse-icon.nav-folder-collapse-indicator {
	display: flex;
}

/* Theme: Discordian */
.iconic-theme-discord .workspace-leaf-content[data-type="file-explorer"] .nav-file-title > .tree-item-icon {
	margin-inline-start: 0;
}
.iconic-theme-discord .workspace-leaf-content[data-type="file-explorer"] .nav-file-title-content {
	margin-inline-start: var(--size-4-5);
}

/* Theme: ITS Theme */
.iconic-theme-its .tree-item-self > .tree-item-icon {
	margin-right: 6px;
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon {
	position: absolute;
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .nav-file-title-content {
	margin-inline-start: var(--size-4-5);
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .nav-file-title-content::before,
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title-content::before {
	display: none;
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .nav-folder-collapse-indicator {
	display: flex;
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title:not(:has(.iconic-sidekick)) > .nav-folder-title-content {
	margin-inline-start: var(--size-4-5);
}
.iconic-theme-its .workspace-leaf-content[data-type="file-explorer"] .iconic-sidekick {
	margin-inline-start: var(--size-4-5);
}

/* Theme: LYT Mode */
.iconic-theme-lyt .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .tree-item-inner {
	padding-inline-start: var(--size-4-2);
}
.iconic-theme-lyt .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .iconic-sidekick {
	margin-inline-start: var(--size-4-2);
	margin-inline-end: 0;
}
.iconic-theme-lyt .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .tree-item-icon:not(.collapse-icon) {
	margin-inline-start: calc(-0.5 * var(--size-4-5));
}
.iconic-theme-lyt .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .mod-collapsible:not(:has(.iconic-sidekick)) > .tree-item-inner {
	padding-inline-start: var(--size-4-2);
	margin-inline-start: var(--size-4-2);
}
.iconic-theme-lyt .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) :not(.mod-collapsible) > .tree-item-inner {
	margin-inline-start: var(--size-4-2);
}
.iconic-theme-lyt .workspace-leaf-content > :is(.nav-files-container, .view-content).node-insert-event {
	padding: var(--size-4-1) var(--size-4-3) var(--size-4-6) var(--size-4-3);
}

/* Theme: Mado Miniflow */
.iconic-theme-mflow .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .tree-item:not(.mod-collapsible) {
	margin-inline-start: var(--size-4-2);
}
.iconic-theme-mflow .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title > .collapse-icon {
	display: flex;
}

/* Theme: Minimal */
.iconic-theme-minimal .markdown-source-view.is-readable-line-width .iconic-title-wrapper {
	margin-inline-start: var(--content-margin-start);
}
.iconic-theme-minimal:not(.is-mobile) .iconic-title-wrapper > .iconic-icon {
	padding-top: 16px;
}

/* Theme: Minimal Edge */
.iconic-theme-medge .tree-item-self .tree-item-icon {
	display: unset;
}

/* Theme: Sanctum */
.iconic-theme-sanctum .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title:has(.iconic-sidekick) > .nav-folder-title-content::before {
	display: none;
}

/* Theme: Shiba Inu */
.iconic-theme-shiba.theme-light:not(.default-light-theme, .lily-light, .ivory-light, .sky-light, .stone-light) {
	--color-red: rgb(240, 68, 114);
	--color-orange: rgb(249, 102, 50);
	--color-yellow: rgb(228, 147, 32);
	--color-green: rgb(64, 155, 40);
	--color-cyan: rgb(23, 146, 153);
	--color-blue: rgb(71, 143, 238);
	--color-purple: rgb(176, 110, 201);
	--color-pink: rgb(215, 125, 146);
}
.iconic-theme-shiba.theme-dark:not(.default-dark-theme, .Lilac-dark, .pure-dark, .warm-dark) {
	--color-red: rgb(255, 98, 107);
	--color-orange: rgb(247, 157, 124);
	--color-yellow: rgb(249, 226, 175);
	--color-green: rgb(56, 198, 141);
	--color-cyan: rgb(104, 188, 204);
	--color-blue: rgb(147, 183, 245);
	--color-purple: rgb(196, 167, 231);
	--color-pink: rgb(243, 137, 143);
}
.iconic-theme-shiba .workspace-leaf-content[data-type="file-explorer"] .nav-file-title-content::before {
	display: none;
}

/* Theme: Sodalite */
.iconic-theme-sodalite .workspace-leaf-content[data-type="file-explorer"] .nav-files-container {
	padding-inline-start: var(--size-4-3);
	padding-inline-end: var(--size-4-3);
}
.iconic-theme-sodalite .workspace-leaf-content[data-type="file-explorer"] .tree-item-inner::before {
	display: none;
}

/* Theme: Spectrum */
.iconic-theme-spectrum .workspace-leaf-content[data-type="file-explorer"] .nav-folder-title > .nav-folder-title-content::before {
	display: none;
}

/* Theme: Terminal */
.iconic-theme-terminal .workspace-leaf-content:is([data-type="file-explorer"], [data-type="bookmarks"]) .collapse-icon.iconic-icon::before {
	display: none;
}

/* Theme: Ukiyo */
.iconic-theme-ukiyo .workspace-leaf > .workspace-leaf-content[data-type="file-explorer"] > .nav-files-container.node-insert-event {
	padding: var(--size-4-1) var(--size-4-3) var(--size-4-6) var(--size-4-3);
}
