.iconic-icon > .iconic-emoji {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	overflow: clip;
	overflow-clip-margin: 5px;
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: calc(var(--icon-size) * 0.9);
}

/* Tabs */
.workspace .mod-root .workspace-tab-header[data-type="markdown"] .workspace-tab-header-inner-icon,
.workspace .mod-root .workspace-tab-header[data-type="empty"] .workspace-tab-header-inner-icon {
	display: flex;
}
.workspace .mod-stacked .iconic-emoji {
	transform: rotate(-90deg);
}
.iconic-bigger-icons .mod-root .workspace-tab-header-inner-icon.iconic-icon > * {
	--icon-size: var(--icon-s);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-clickable-icons .mod-root .workspace-tab-header-inner-icon.iconic-icon:hover {
	cursor: pointer;
	filter: contrast(200%);
}

/* List items */
.tree-item-icon.iconic-icon > .iconic-emoji {
	--icon-size: var(--icon-xs);
}
.tree-item-icon.collapse-icon.iconic-icon > .svg-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	stroke-width: var(--icon-stroke);
	color: unset;
	transform: unset;
}
.iconic-folder-icon {
	display: flex;
	align-self: center;
	width: var(--size-4-4);
	margin-inline-end: var(--size-4-1);
	opacity: var(--icon-opacity);
	--icon-size: var(--icon-xs);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-bigger-icons .tree-item-icon.iconic-icon > .svg-icon,
.iconic-bigger-icons .iconic-folder-icon > .svg-icon {
	--icon-size: var(--icon-s);
	--icon-stroke: var(--icon-s-stroke-width);
}
.iconic-bigger-icons .tree-item-icon.iconic-icon > .iconic-emoji,
.iconic-bigger-icons .iconic-folder-icon > .iconic-emoji {
	--icon-size: var(--icon-s);
}
.iconic-bigger-icons .tree-item.iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 1.5px;
}
.is-mobile .iconic-bigger-icons .tree-item.iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 3px;
}
.iconic-clickable-icons .tree-item-icon.iconic-icon:hover,
.iconic-clickable-icons .iconic-folder-icon:hover {
	cursor: pointer;
	filter: contrast(200%);
}

/* Properties editor */
.iconic-clickable-icons .metadata-property-icon.iconic-icon:hover {
	cursor: pointer;
	filter: contrast(200%);
}

/* Ribbon */
.side-dock-ribbon-action.iconic-icon > .iconic-emoji {
	--icon-size: var(--icon-l);
}
.mobile-option-setting-item-option-icon.iconic-icon {
	cursor: pointer;
}

/* Icon picker */
.iconic-modal .setting-item-control input[type="color"] { width: auto; }
.iconic-modal .setting-item-control input[type="text"] { width: 100%; }
.iconic-modal .setting-item-control .search-input-container { width: 100%; }
.is-tablet .iconic-button-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* Search results container */
.iconic-search-results { overflow-x: scroll; }
.iconic-search-results > .setting-item-info { display: none; }
.iconic-search-results > .setting-item-control { justify-content: center; }
.is-phone .iconic-search-results { flex-direction: row !important; }
.is-phone .iconic-search-results > .setting-item-control { width: auto !important; }

/* Search result */
.iconic-search-result > * {
	height: var(--icon-size);
	--icon-size: calc(var(--icon-l) * 1.25);
	--icon-stroke: calc(var(--icon-l-stroke-width) * 6/7);
}
.iconic-bigger-search-results .iconic-search-result > * {
	--icon-size: var(--icon-xl);
	--icon-stroke: var(--icon-xl-stroke-width);
}
.is-mobile .iconic-search-result > * {
	--icon-size: var(--icon-l);
	--icon-stroke: var(--icon-l-stroke-width);
}
.is-mobile.iconic-bigger-search-results .iconic-search-result > * {
	--icon-size: var(--icon-xl);
	--icon-stroke: var(--icon-l-stroke-width);
}

/* Indicators */
.iconic-indicator { pointer-events: none; }

/* Invisibility */
.iconic-invisible { visibility: hidden; }
.is-phone .iconic-reset-color.iconic-invisible { display: none; }

/* Colorless hover */
.iconic-uncolor-hover .workspace-tab-header:hover .iconic-icon > .svg-icon,
.iconic-uncolor-hover .tree-item-self:hover > .tree-item-icon.iconic-icon > .svg-icon,
.iconic-uncolor-hover .side-dock-ribbon-action.iconic-icon:hover > .svg-icon,
.iconic-uncolor-hover .iconic-search-result:hover > .svg-icon {
	color: currentColor !important;
}

/* Colorless drag */
.iconic-uncolor-drag > .drag-ghost .svg-icon {
	color: currentColor !important;
}

/* Colorless selection */
.iconic-uncolor-select .workspace-tab-header.is-active .iconic-icon > .svg-icon,
.iconic-uncolor-select .tree-item-self.is-active > .tree-item-icon.iconic-icon > .svg-icon {
	color: currentColor !important;
}

/* Community themes */
.iconic-its-theme .tree-item-self > .tree-item-icon {
	margin-right: 6px;
}
.iconic-its-theme .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon {
	display: flex;
	position: absolute;
}
.iconic-its-theme .workspace-leaf-content[data-type="file-explorer"] .tree-item-inner::before {
	visibility: hidden;
}
.iconic-its-theme.hide-file-explorer-icons .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon {
	display: none;
}
